/**
 * General
 */

body {
  &.page-template-page-full {
    #main {
      max-width: 100%;
    }
  }

  /* If WP-Adminbar is visible */
  &.admin-bar {
    #header.fixed-top {
      top: var(--wp-admin--admin-bar--height);
    }

    .edit-link a {
      color: #fff !important;
      font-weight: normal !important;
      text-decoration: none !important;

      &::before {
        content: '\270E';
        display: inline-block;
        margin-right: 5px;
      }
    }
  }
}

img {
  vertical-align: middle;
}

/**
 * WordPress customization
 */

/* WordPress Embeds */

.post-thumbnail,
.wp-video,
.embed-responsive {
  margin: 5px 0;
  width: 100% !important;
}

.post,
.post-thumbnail {
  img {
    max-width: 100%;
    height: auto;
  }
}

/* Header */

#header {
  .search-form {
    min-width: 250px;
  }
}

.navbar-brand {
  img {
    height: 40px;
  }
}

.navbar-static-top {
  margin-bottom: $grid-gutter-width;
}

/* Main */

#main {
  margin-top: $spacer;
}

/* Footer */

#footer {
  background-color: transparent;
  margin-top: 3rem;

  p {
    margin-top: 10px;
  }

  .menu-item {
    a {
      &[aria-current='page'] {
        color: $link-hover-color;
      }
    }
  }
}

/* Sidebar */

.widget-area {
  ul {
    list-style: none;
    padding: 0;
  }
}

/* Author */

.author-avatar {
  .avatar {
    width: 64px;
    height: auto;
  }
}

.author-info {
  margin: 40px 0;

  h2,
  h3 {
    margin-top: 0;
  }
}

/* Posts */

.sticky {
  .card {
    background-color: $gray-100;
  }
}

.entry-meta {
  font-size: small;
  margin-top: ($grid-gutter-width * 0.5);
}

.single {
  .entry-content,
  .post-navigation,
  #comments-title {
    margin: $grid-gutter-width 0;
  }
}

#comments {
  margin-top: $grid-gutter-width;
}

.comment-meta {
  height: 40px;
}

.comment-reply-title {
  margin: $grid-gutter-width 0 ($grid-gutter-width * 0.5);
}

.commentlist {
  list-style: none;
  margin: 0 auto;
  width: 68.9%;

  > li.comment {
    margin: 0 0 1.625em;
    padding: 1.625em;
    position: relative;
  }

  .children {
    list-style: none;
    margin-top: $grid-gutter-width;

    > li.comment {
      border-top: 1px solid $gray-300;
      padding-top: $grid-gutter-width;
      position: relative;
    }
  }

  .avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    box-shadow: 0 1px 2px $gray-600;
    padding: 0;
    position: absolute;
    top: 0;
    left: -102px;
  }
}

/* WordPress Blocks */

// Buttons

.wp-block-button {
  &.is-style-outline {
    .wp-block-button__link {
      @extend .btn;
      @extend .btn-outline-primary;
    }
  }

  &.btn-lg {
    .wp-block-button__link {
      @extend .btn-lg;
    }
  }
  &.btn-sm {
    .wp-block-button__link {
      @extend .btn-sm;
    }
  }

  .wp-block-button__link {
    @extend .btn;
    @extend .btn-primary;
    text-decoration: none;
  }
}

// Table

.wp-block-table {
  td,
  th {
    border: inherit;
  }

  table {
    @extend .table;
  }
}

// Image, Media and Text

.wp-block-image,
.wp-block-media-text__media {
  img,
  video {
    height: auto;
  }
}

/**
 * Responsive Design using "mixins/_breakpoints.scss"
 */

// @media (max-width: breakpoint-max(sm)) {
//   #sidebar {
//     margin-top: 60px;
//   }
// }

.shortcuts-bar {
  position: fixed;
  right: 1%;
  bottom: 2%;
  z-index: 1023;
  display: flex;
  gap: 0.5rem;
  .shortcut-bar__item {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    box-shadow: 0 0 rem(3px) 0 #000;
    padding: 0;
    a {
      color: #fff;
    }
  }
}

.bg-tertiary {
  background-color: var(--bs-tertiary);
}

.widget__title {
  font-family: var(--font-family-section-title);
  font-size: clamp(1.25rem, 0.7vw + 1.1rem, 1.8125rem);
  font-weight: var(--font-family-section-title-weight);
  margin: 0 0 2rem;
  text-align: center;
}
